@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/SiteTemplate/assets/css/checkout.css">
<section class="inner-section single-banner" style="background: url(/SiteTemplate/assets/images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>تسویه حساب</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
            <li class="breadcrumb-item"><a href="shop-4column.html">فروشگاه</a></li>
            <li class="breadcrumb-item active" aria-current="page">تسویه حساب</li>
        </ol>
    </div>
</section>
<!--=====================================
            BANNER PART END
=======================================-->
<!--=====================================
            CHECKOUT PART START
=======================================-->
<section class="inner-section checkout-part">
    <div class="container">
        <div class="row">
        @await Component.InvokeAsync("Bills")
        </div>
    </div>
</section>
<!--=====================================
            CHECKOUT PART END
=======================================-->
<!--=====================================
            MODAL ADD FORM START
=======================================-->
<!-- contact add form -->
<div class="modal fade" id="contact-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>افزودن شماره تماس جدید</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">موضوع</label>
                    <select class="form-select">
                        <option selected>یک موضوع انتخاب کنید</option>
                        <option value="primary">اصلی</option>
                        <option value="secondary">فرعی</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">شماره</label>
                    <input class="form-control" type="text" placeholder="لطفا شماره تلفن وارد کنید">
                </div>
                <button class="form-btn" type="submit">ذخیره شماره تلفن</button>
            </form>
        </div>
    </div>
</div>

<!-- address add form -->
<div class="modal fade" id="address-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>افزودن آدرس جدید</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">موضوع</label>
                    <select class="form-select">
                        <option selected>یک موضوع انتخاب کنید</option>
                        <option value="home">خانه</option>
                        <option value="office">دفتر</option>
                        <option value="Bussiness">شرکت</option>
                        <option value="academy">آمورشگاه</option>
                        <option value="others">غیره</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">آدرس</label>
                    <textarea class="form-control" placeholder="آدرس خود را وارد کنید"></textarea>
                </div>
                <button class="form-btn" type="submit">ذخیره آدرس جدید</button>
            </form>
        </div>
    </div>
</div>

<!-- payment add form -->
<div class="modal fade" id="payment-add">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>افزودن کارت جدید</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">شماره کارت</label>
                    <input class="form-control" type="text" placeholder="شماره کارت خود را وارد کنید">
                </div>
                <button class="form-btn" type="submit">ذخیره کارت جدید</button>
            </form>
        </div>
    </div>
</div>
<!--=====================================
            MODAL ADD FORM END
=======================================-->
<!--=====================================
            MODAL EDIT FORM START
=======================================-->
<!-- contact edit form -->
<div class="modal fade" id="contact-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>ویرایش شماره تماس</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">موضوع</label>
                    <select class="form-select">
                        <option value="primary" selected>اصلی</option>
                        <option value="secondary">فرعی</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">شماره</label>
                    <input class="form-control" type="text" value="0218888889">
                </div>
                <button class="form-btn" type="submit">ذخیره شماره تماس</button>
            </form>
        </div>
    </div>
</div>

<!-- address edit form -->
<div class="modal fade" id="address-edit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="modal-close" data-bs-dismiss="modal"><i class="icofont-close"></i></button>
            <form class="modal-form">
                <div class="form-title">
                    <h3>ویرایش آدرس</h3>
                </div>
                <div class="form-group">
                    <label class="form-label">موضوع</label>
                    <select class="form-select">
                        <option value="home" selected>خانه</option>
                        <option value="office">دفتر</option>
                        <option value="Bussiness">شرکت</option>
                        <option value="academy">آموزشگاه</option>
                        <option value="others">غیره</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">address</label>
                    <textarea class="form-control" placeholder="ایران - تهران - خیابان ظفر"></textarea>
                </div>
                <button class="form-btn" type="submit">ذخیره آدرس</button>
            </form>
        </div>
    </div>
</div>
<!--=====================================
            MODAL EDIT FORM END
=======================================-->
